<div id="topLeft">
   <form>
      <input id="customer" ng-model="customer.firstname" placeholder="First Name..."></input>
         <input id="customer" ng-model="customer.lastname" placeholder="Last Name..."></input>
            <input id="customer" ng-model="customer.address" placeholder="Address..."></input>
               <input id="customer" ng-model="customer.city" placeholder="city..."></input>
                  <input id="customer" ng-model="customer.state" placeholder="State..."></input>
                     <input id="customer" ng-model="customer.zipCode" type="Number" placeholder="Zip Code..."></input>
                        <input id="customer" ng-model="customer.phone.areaCode" type="Number" placeholder="Area code..."></input>
                           <input id="customer" ng-model="customer.phone.ANI" type="Number" placeholder="Phone number..."></input>
         <button id="customer" ng-click="addCustomer(customer)">Add Client</button>
   </form>
</div>
