@import url(https://fonts.googleapis.com/css?family=Codystar:400,300);


/*zero out page*/
*{
   margin: 0;
   padding: 0;
}
body{
   background-color: rgb(151,154,136);
}
/*Nav Bar*/
#menu{
   background-color:rgb(148,200,238);
   display: flex;
   justify-content: space-between;
   padding: 2%;
}
.logo{
   font-size: 70px;
   font-family: Codystar;
   color: white;
}
.menu-btn{
   font-family: Codystar;
   font-size: 80px;
   color: white;
   display: block;
}
/*HOME PAGE*/
.homeLogo{
   font-family: Codystar;
   color: white;
   text-align: center;
}
.content{
   position: relative;
   padding: 10%;
   font-family: Codystar;
   color: white;
   /*text-align: center;*/
   height: calc(100vh-24px-96.3px)
}
.content p{
   font-family: Codystar;
   color: rgb(106,163,244);
   font-size: 300px;
   text-align: center;
}
/*CLIENT DISPLAY PAGE*/
.customerLeft{
   float: left;
   text-align: left;
}
.customerRight{
   float: right;
   text-align: left;
}
.customerClear{
   clear: both;
}
/*ADD CLIENT PAGE*/
#customer{
   padding: .6%;
}
#customerButton{
   padding: 1%;
   border-radius: 25%;
   background-color: rgb(96,149,215);
}
#footer{
   margin: 0 auto;
   text-align: center;
   width: 100%;
   background-color: rgb(96,149,215);
   font-family: Codystar;
   font-size: 20px;
   color: white;
   /*position: absolute;
   bottom: 0;*/
}
#footer a{
   color: white;
}

@media (max-width: 410px){
   .logo{
      font-size: 40px;
   }
   .menu-btn{
      font-size: 30px;
   }
}
