<script>
  angular.module('textInputRequired', [])
    .controller('requiredController', ['$scope', function($scope) {
      $scope.example = {
        text: 'guest',
        word: /^\s*\w*\s*$/
      };
    }]);
</script>
<form name="clientForm" ng-controller="requiredController">
  <label>First Name:
    <input type="text" name="input" ng-model="customer.firstname"
           ng-pattern="example.word" required ng-trim="false">
  </label>
  <div role="alert">
    <span class="error" ng-show="myForm.input.$error.required">
      Required!</span>
    <span class="error" ng-show="myForm.input.$error.pattern">
      Single entry only!</span>
  </div>
  <label>Las Name:
    <input type="text" name="input" ng-model="customer.lastname"
           ng-pattern="example.word" required ng-trim="false">
  </label>
  <div role="alert">
    <span class="error" ng-show="myForm.input.$error.required">
      Required!</span>
    <span class="error" ng-show="myForm.input.$error.pattern">
      Single entry only!</span>
  </div>
  <label>Address:
    <input type="text" name="input" ng-model="customer.firstname"
           ng-pattern="example.word" required ng-trim="false">
  </label>
  <div role="alert">
    <span class="error" ng-show="myForm.input.$error.required">
      Required!</span>
    <!-- <span class="error" ng-show="myForm.input.$error.pattern">
      Single entry only!</span> -->
  </div>
  <label>State:
    <input type="text" name="input" ng-model="customer.state"
           ng-pattern="example.word" required ng-trim="false">
  </label>
  <div role="alert">
    <span class="error" ng-show="myForm.input.$error.required">
      Required!</span>
    <span class="error" ng-show="myForm.input.$error.pattern">
      Single entry only!</span>
  </div>
  <label>Zip Code:
    <input type="text" name="input" ng-model="customer.zipCode"
           ng-pattern="example.word" required ng-trim="false">
  </label>
  <div role="alert">
    <span class="error" ng-show="myForm.input.$error.required">
      Required!</span>
    <span class="error" ng-show="myForm.input.$error.pattern">
      Single entry only!</span>
  </div>
  <label>Area Code:
    <input type="text" name="input" ng-model="customer.phone.areaCode"
           ng-pattern="example.word" required ng-trim="false">
  </label>
  <div role="alert">
    <span class="error" ng-show="myForm.input.$error.required">
      Required!</span>
    <span class="error" ng-show="myForm.input.$error.pattern">
      Single entry only!</span>
  </div>
  <label>Phone Number:
    <input type="text" name="input" ng-model="customer.phone.ANI"
           ng-pattern="example.word" required ng-trim="false">
  </label>
  <div role="alert">
    <span class="error" ng-show="myForm.input.$error.required">
      Required!</span>
    <span class="error" ng-show="myForm.input.$error.pattern">
      Single entry only!</span>
  </div>
