<form class="content">
   Name:
   <input id="customer" ng-model="customer.firstname" placeholder="First Name..."></input>
      <input id="customer" ng-model="customer.lastname" placeholder="Last Name..."></input>
         <br>
         Address:
         <input id="customer" ng-model="customer.address" placeholder="Address..."></input>
         <br>
            City:
            <input id="customer" ng-model="customer.city" placeholder="city..."></input>
            <br>
               State:
               <input id="customer" ng-model="customer.state" placeholder="State..."></input>
               <br>
                  Zip Code:
                  <input id="customer" ng-model="customer.zipCode" type="Number" placeholder="Zip Code..."></input>
                  <br>
                     Phone Number:
                     <input id="customer" ng-model="customer.phone.areaCode" type="Number" placeholder="Area code..."></input>
                        <input id="customer" ng-model="customer.phone.ANI" type="Number" placeholder="Phone number..."></input>
                        <br>
                           Email:
                           <input id="customer" ng-model="customer.email" type="email" placeholder="Email...."></input>
                           <br>
                              Total Case Fee:
                              <input id="customer" ng-model="customer.debt" type="number" placeholder="Total..."></input>
                              <br>
                                 Payment Date:
                                 <input id="customer" ng-model="customer.payDate" type="number" placeholder="5,15,25....."></input>
                              <br>
                           <br>
                        <br>
      <button id="customerButton" ng-click="addCustomer(customer)">Add Client</button>
</form>
